.v-expansion-panel-text__wrapper,
.v-expansion-panel-title {
  padding-left: 16px;
  padding-right: 16px;
}

.v-radio-group {
  .v-label {
    margin-inline-start: 0;
  }

  .v-selection-control-group {
    margin-top: 0;
    padding-inline-start: 0;
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #90caf9;
    text-decoration: none;
  }

  &:hover {
    color: #42a5f5;
  }
}

.only-love {
  color: #ff1744;
}
